---
import { Button } from '@/components/ui/button'
import { Sun, Moon } from 'lucide-react'
---

<Button
  id="theme-toggle"
  variant="ghost"
  size="icon"
  title="Toggle theme"
  className="-my-2 -se-2 size-8"
>
  <Sun className="size-4 dark:hidden" />
  <Moon className="absolute hidden size-4 dark:block" />
  <span class="sr-only">Toggle theme</span>
</Button>

<script is:inline data-astro-rerun>
  ;(() => {
    const theme =
      localStorage?.getItem('theme') === 'dark'
        ? 'dark'
        : 'light'
    document.documentElement.setAttribute('data-theme', theme)
  })()
</script>

<script>
  function handleToggleClick() {
    const element = document.documentElement
    const currentTheme = element.getAttribute('data-theme')
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark'
    element.setAttribute('data-theme', newTheme)
    localStorage.setItem('theme', newTheme)
  }

  document.getElementById('theme-toggle')?.addEventListener('click', handleToggleClick)
</script>
